:root {
  --transparent: rgba(250, 7, 7, 0);
  --white: rgb(255, 255, 255);
  --color: rgb(0, 0, 0);
  --day: rgb(241, 123, 123);
  --night: rgb(80, 79, 79);
}

.day {
  background-color: var(--day);
}

.night {
  color: var(--white);
  background-color: var(--night);
}

.react-calendar__month-view__days__day--neighboringMonth {
  opacity: 0.4;
}

.react-calendar__tile--active {
  color: var(--color);
  background-color: var(--transparent);
}

.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  color: var(--color);
  background-color: var(--transparent);
}

.react-calendar__year-view__months__month {
  color: var(--color);
  background-color: var(--white);
}

.react-calendar__century-view__decades__decade {
  color: var(--color);
  background-color: var(--white);
}

.react-calendar__decade-view__years__year {
  color: var(--color);
  background-color: var(--white);
}
