.day {
  background-color: rgb(230, 125, 125);
}

.night {
  color: rgb(245, 245, 245);
  background-color: rgb(56, 53, 53);
}

.dump {
  background-color: rgb(238, 238, 137);
}

.output {
  background-color: rgb(139, 238, 139);
}
